<footer>
  <div class="container">
<<<<<<< HEAD
    <p class="text-muted">Kea Board, Inc. 2015</p>
=======
    <p class="text-muted">André Durão October, 2015</p>
>>>>>>> 70740618880882cc193c5cded4e42b912f55dedb
  </div>
</footer>
